<div class = "container">
  <div class = "vertical-center">
    <%= form_for @conn, Routes.page_path(@conn, :create),
                      [multipart: true], fn f-> %>
      <%= file_input f, :upload, class: "form-control" %>
      <%= submit "Upload", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>